body {
  margin: 0;
  background-color: lightblue;
}
.header {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 150px;
  padding-right: 150px;
  margin-bottom: 100px;
  background: pink;
  color: white;
}
ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: white;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
  height: 250px;
}


.txt {
  display: flex;
  flex-direction: column;
  margin-left: -30px;
  padding: 30px;
  width: 400px;
}
button {
  width: 60px;
  height: 30px;
}
.img1 {
  margin-left: 480px;
  margin-top: -247px;
}

.center {
  text-align: center;
  margin-bottom: 80px;
}
.content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: pink;
}
 .info {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 400px;
   text-align: center;
 }
 .quote{

   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-bottom: 80px;
   background: red;
   padding-top: 100px;
   padding-bottom: 100px;
   background: white;
   font-size: 28px;
 }

 .scontainter{
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 .signup {
   display: flex;
   flex-direction: column;
   background: pink;
   width: 480px;
   border-radius: 10px;
   box-shadow: 2px 4px 16px rgba(0,0,0,.2);
   gap: 16px;
   padding: 16px;
 }
 #buttoncenter {
   text-align: center;
 }



#copyright {
  margin-top: 100px;
  margin-bottom: 0;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  background: white;
}

a {
  color: white;
}
